---
import Layout from '../../layouts/Layout.astro';
import { loadTranslations } from '../../translations';

export async function getStaticPaths() {
  const supportedLangs = ['es', 'en'];

  return supportedLangs.map((lang) => ({
    params: { lang },  // Pasar el idioma como parámetro
    props: { lang },    // Pasar el idioma como propiedad
  }));
}



// Obtener el idioma de los parámetros
const { lang } = Astro.params;
const translations = loadTranslations(lang);
---

<Layout currentLang={lang} translations={translations}>
  <main class="container mx-auto py-8">
    <h1 class="text-3xl font-bold text-center">{translations.welcome}</h1>
    <p class="text-center mt-4">{translations.form_welcome}</p>
  </main>
</Layout>
